@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3b0000;
  color: white;
}

input,
button,
select,
textarea {
  border-radius: 8px;
  background-color: white;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}
